body,
input,
button,
a {
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
}

#app {
  margin: 0 auto;
  width: 320px;
}

#form {
  display: flex;
  justify-content: space-between;
}
