body {
  font-size: 36px;
}

div,
h1,
h3,
input,
button {
  margin: 0;
  font-family: monospace;
  border: none;
  outline: none;
}

#app,
#faq {
  width: 400px;
  margin: 0px auto;
}

#app h1 {
  margin-bottom: 1rem;
  text-align: center;
}

#app input,
#app button {
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid #666666;
  outline: 1px solid #333333;
  border-radius: calc(1rem / 4);
}

#group {
  display: flex;
  justify-content: space-between;
}

#input {
  margin-bottom: 1rem;
  width: 60%;
}

#button {
  margin-bottom: 1rem;
  width: 30%;
}

#img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
